<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Dog Park</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/dogParks/<%=dogPark._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="dogPark[title]"
                    value="<%=dogPark.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="dogPark[location]"
                    value="<%=dogPark.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckIndeterminate" name="dogPark[hasSmallDogArea]" <%= dogPark.hasSmallDogArea ? 'checked' : '' %>>
                <label class="form-check-label" for="flexCheckIndeterminate" >
                    Have a small dog area?
                <div class="valid-feedback">
                    Looks good!
                </div>
                </label>
              </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="dogPark[description]"
                    required><%= dogPark.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% dogPark.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update dogPark</button>
            </div>
        </form>
        <a href="/dogParks/<%= dogPark._id%>">Back To dogPark</a>

    </div>
</div>